/* navbar */
.bg{
    background-color: #FFB71C;
  }
#name{
    color: darkred;
    font-family: Cooper;
  
}
/* sidebar */
#Sidebar{
    background-color: darkred;
    /* margin-top: 9vh; */
    padding-top: 2rem;
    color: wheat;
}
/* page content */
.page-content{
    margin-left:220px;
    margin-top: 4rem;
    padding-top: 3rem;  
  
}
.title{
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
}

/*  table  */
.thead{
    background-color: #FFB71C;
}

/* insert itmes */
.add-form{
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 5rem;
}
.form-group{
    margin-bottom: 3rem;
}
#price{
    display: none;
}
#import{
    border: solid 1px #cccccc;
    border-radius: 3px;
    padding-right: 24.5rem;

}
.btn{
    color: darkred;
    background-color: #FFB71C;
    width: 7rem;
    border: 1px solid darkred;
}
.btn:hover{
    background-color: rgb(204, 147, 23);
}

/*  update page  */

.input{
    background-color: rgba(255, 255, 255, 0.075);
    border: solid 0px;
}